@model Wardship.Models.Salutation

@{
    ViewBag.Title = string.Format("Details of {0}", Model.Detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Salutations", "Index") 
> @Model.Detail</h6>
<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="display-label">@Html.LabelFor(model => model.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div>
   
</fieldset>
<p>
    @if (Model.active == true)
    {
      @*  @Html.ActionLink("Edit", "Edit", new { id=Model.salutationID })*@
    }
</p>
