    <div id="MenuContainer" style="clear:both;">
        <ul id="menuBar">
            <li class="button" id="first"></li>
            <li class="button">@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, null)</li>
            @if (Request.IsAuthenticated)
            {       
               
                switch ((User as Wardship.ICurrentUser).AccessLevel)
                {
                    case Wardship.AccessLevel.User:
                        <li class="button">@Html.ActionLink("Wardship Records", "Index", "WardshipRecord", new { area = "" }, null)</li>
                        <li class="button">@Html.ActionLink("Quick Search", "Index", "QuickSearch", new { Area = "" }, null)</li>

                                      break;
                    case Wardship.AccessLevel.Manager:
                    
                        <li class="button">@Html.ActionLink("Wardship Records", "Index", "WardshipRecord", new { area = "" }, null)</li>
                        <li class="button">@Html.ActionLink("Quick Search", "Index", "QuickSearch", new { Area = "" }, null)</li>
                         <li class="button">@Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, null)
                            <ul>
                                <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, null)</li>
                              @*  <li>@Html.ActionLink("Lookups", "Lookups", "Admin", new { area = "Admin" }, null)</li>*@
                            </ul>
                        </li>                        
                               break;
                    case Wardship.AccessLevel.Admin:

                            <li class="button">@Html.ActionLink("Wardship Records", "Index", "WardshipRecord", new { area = "" }, null)</li>
                            <li class="button">@Html.ActionLink("Quick Search", "Index", "QuickSearch", new { Area = "" }, null)</li>
                            <li class="button">@Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, null) 
                            <ul>
                                <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Templates", "Index", "Templates", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>                        
                               break;
                    default:
                               break;
                } 
                @*<li class="button">@{Html.RenderAction("Index", "Alert",new {area=""});}</li>*@
                <li class="text">Connected as <strong>@((User as Wardship.ICurrentUser).DisplayName)</strong></li>
                <li class="helpButton">@Html.ImageLink(Url.Content("~/Content/Images/help.png"), "Help", "Index", "FAQ", new { Area = "" }, null, null)</li>
                <li class="text">&nbsp;</li> @* Adds a line to the left of the help button *@
            }
            else
            {
                <li class="helpButton">@Html.ImageLink(Url.Content("~/Content/Images/help.png"), "Help", "Index", "FAQ", null, null, null)</li>
            }
        </ul>
    </div>
