@model Wardship.Models.QuickSearch

@{
    ViewBag.Title = "PrintLetter";
}


<h6>@Html.ActionLink("Reset Form", "Index") > Search</h6>

@using (Html.BeginForm("print", "QuickSearch", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>

    <legend>Enter applicant address details</legend>
  
  <br /> 
        <div class="display-label">Name</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantName)
            @Html.ValidationMessageFor(model => model.ApplicantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicantAddr1, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantAddr1)
            @Html.ValidationMessageFor(model => model.ApplicantAddr1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicantAddr2, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantAddr2)
            @Html.ValidationMessageFor(model => model.ApplicantAddr2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicantAddr3, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantAddr3)
            @Html.ValidationMessageFor(model => model.ApplicantAddr3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicantAddr4, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantAddr4)
            @Html.ValidationMessageFor(model => model.ApplicantAddr4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicantPostcode, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicantPostcode)
            @Html.ValidationMessageFor(model => model.ApplicantPostcode)
        </div>


    </fieldset>

    
    <fieldset>

    <legend>Print letter</legend>
     <br />
    <p>Click the button to print the letter</p> 
    <input type="submit" value=" Print Letter " style="border-size: 0px;border-style: none; background: inherit;font: inherit; color: blue;cursor: hand;cursor: pointer; padding: 0px;" />

    </fieldset>
    
    
    
} 