@model Wardship.Models.QuickSearch

@{
    ViewBag.Title = "Index";
}


<h6>@Html.ActionLink("Reset Form", "Index") > Search</h6>


@using (Html.BeginForm("Index", "QuickSearch", FormMethod.Post, new { autocomplete = "off" }))
{ 
    @Html.ValidationSummary(true)


    <fieldset>

    <legend>Enter Search Criteria</legend> 
  
  <br /> 
        <div class="editor-label">
            @Html.LabelFor(model => model.FileNumber, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FileNumber)
            @Html.ValidationMessageFor(model => model.FileNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChildSurname, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChildSurname)
            @Html.ValidationMessageFor(model => model.ChildSurname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChildForenames, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChildForenames)
            @Html.ValidationMessageFor(model => model.ChildForenames)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChildDateofBirth, true)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.ChildDateofBirth)
           @Html.ValidationMessageFor(model => model.ChildDateofBirth)
        </div>

       <p>
            <input type="submit" value="Search" />
            
        </p>
    </fieldset>
}

   
 




