@model Wardship.Models.QuickSearch


@{
    ViewBag.Title = "Results";
}

<link href="@Url.Content("~/Content/newPagedListButtons.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
   
  <link href="../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
  <script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
  
    
<script type="text/javascript">            // Remark: all this javascript could be placed in a separate js file
    // to avoid cluttering the views. The first three lines fires up any action link set to the "openDialog"
    $(document).ready(function () {
        $(".openDialog").live("click", function (e) {
            e.preventDefault();

            var title = 'Wardship Details For: ' + this.data_title;
            
            $('#dialog').load(this.href, function () {
                $(this).dialog({
                    open: function (event, ui) { $('#Details').focus(); },
                    title: title,
                    modal: true,
                    width: 600,
                    show: { effect: "bind", duration: 1000 },
                    hide: { effect: "bind", duration: 1000 },
                    resizable: false,

                    //  $( "#dialog-message" ).dialog    ( Close: function was Ok:function )
                    buttons: { Close: function () { $(this).dialog("close"); }  }
                });
            });
            return false;
        });
    });

</script>


</head>

@*Empty div so that the java sctipts will place the action link in hear as a popup with my partial view .*@
<div id="dialog"> </div>



<h6>@Html.ActionLink("Reset Form", "Index") > Results</h6>
            


 @if (Model != null && Model.results != null && Model.results.Count() == 0)
    {   
     <div class="message error" style="padding:10px;">
				<span></span>
				<h6>Attention</h6>
				<p>No records match the criteria, please search again</p>
	</div>
    


<br />    
     
   <fieldset>
                 
  <legend>No Matches Found</legend>

        <p>Click the link below to add Applicant details and print the "no trace" letter</p>

      @using (Html.BeginForm("Print", "QuickSearch"))
      {
        @Html.AntiForgeryToken()
          <div>
                  
                    @Html.HiddenFor(model => model.FileNumber)
                    @Html.HiddenFor(model => model.ChildSurname)
                    @Html.HiddenFor(model => model.ChildForenames)
                    @Html.HiddenFor(model => model.ChildDateofBirth)
                    @Html.HiddenFor(model => model.WardshipCaseID)
                   
                    @Html.ImageAndTextLink(Url.Content("~/Content/Images/tick.png"), "Click here", "Add applicant details", "CompleteForPrinting", "QuickSearch", new { id = 0 }, null, null, "createButton")
 
                    </div> 

      }
    </fieldset>


    }

// model is created and the results are empty (stopping searches without critera ) !!!!
    else if (Model != null && Model.results == null)
    {
    
     <div class="message error" style="padding:10px;">
				<span></span>
				<h6>Attention</h6>
				<p>Please enter a search criteria</p>
	</div>
     
    }


//model is created and there is matching data in one of the fields!!!!!!
    else if (Model != null && Model.results != null && Model.results.Count() > 0)
    {
    <div class="message ok" style="padding:10px;">
				<span></span>
				<h6>Success</h6>
				<p>Wardships found for matching criteria</p>
    @*            <p>@Model.message</p>*@

	</div>
    

       
<p>Total number of records found equals: @Model.results.Count()</p>
<table>
    <tr>
        <th>Details</th>
        <th>File Number</th>
        <th>Child Forename</th>
        <th>Child Surname</th>
        <th>Child Date of Birth</th>
        <th>Gender</th>
        <th>Date Issue</th>
@*        <th>Lapse Letter Sent</th>
        <th>First Appointment Date</th>*@
        <th>Hearing Date</th>

        <th>Select and add applicant address</th>

    </tr>
      
    @* must use the model. as we declared our QuickSearch above to show results from the model we created.*@

    @foreach (var item in Model.results)
    {
        <tr>
  
           <td>@Html.ImageLink(Url.Content("~/Content/Images/view.png"), "Details", "PoPupDetails", "QuickSearch", new { id = item.WardshipCaseID }, new { @class = "openDialog", data_title = item.FileNumber }, null)</td>

           <td>@Html.DisplayFor(modelItem => item.FileNumber)</td>
           <td>@Html.DisplayFor(modelItem => item.ChildForenames)</td>
           <td>@Html.DisplayFor(modelItem => item.ChildSurname)</td>
           <td>@Html.DisplayFor(modelItem => item.ChildDateofBirth)</td>
           <td>@Html.DisplayFor(modelitem => item.Gender.Detail)</td>
           <td>@Html.DisplayFor(modelitem => item.DateOfOS)</td>
@*           <td>@Html.DisplayFor(modelitem => item.LapseLetterSent)</td>
           <td>@Html.DisplayFor(modelitem => item.FirstAppointmentDate)</td>*@
           <td>@Html.DisplayFor(modelitem => item.HearingDate)</td>

          
           <td>

            @using (Html.BeginForm("Print", "QuickSearch"))
            {
             @Html.AntiForgeryToken()
             @Html.HiddenFor(model => model.ApplicantName)
             @Html.HiddenFor(model => model.ApplicantAddr1)
             @Html.HiddenFor(model => model.ApplicantAddr2)
             @Html.HiddenFor(model => model.ApplicantAddr3)
             @Html.HiddenFor(model => model.ApplicantAddr4)
             @Html.HiddenFor(model => model.ApplicantPostcode)
             @Html.HiddenFor(model => model.WardshipCaseID, item.WardshipCaseID, null) 
             @Html.ImageAndTextLink(Url.Content("~/Content/Images/tick.png"), "Click here", "Add applicant details", "CompleteForPrinting", "QuickSearch", new { id = item.WardshipCaseID }, null, null, "createButton")
            }
           
           </td>
        </tr>
    }
    <tr>
        <td colspan="8">
            @{
                var token2 = @Html.AntiForgeryToken().ToHtmlString();

                var beginIndex2 = token2.IndexOf("value=\"") + 7;
                var endIndex2 = token2.IndexOf("\"", beginIndex2);
                token2 = token2.Substring(beginIndex2, endIndex2 - beginIndex2);

            }

            @Html.SSGPaging("Results", "QuickSearch", Model, Model.results, token2)
        </td>
    </tr>

</table>
    
    <br />   
    <br />
    <br />   
        
        
     <fieldset>
     <legend>No Matches Found</legend>

        <p>Click the link below to add Applicant details and print the "no trace" letter</p>

       @using (Html.BeginForm("Print", "QuickSearch"))
       { 
            <div>
                @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.FileNumber)
            @Html.HiddenFor(model => model.ChildSurname)
            @Html.HiddenFor(model => model.ChildForenames)
            @Html.HiddenFor(model => model.ChildDateofBirth)
            @Html.HiddenFor(model => model.WardshipCaseID)
            @Html.ImageAndTextLink(Url.Content("~/Content/Images/tick.png"), "Click here", "Add applicant details", "CompleteForPrinting", "QuickSearch", new { id = 0 }, null, null, "createButton")
           
            </div> 
       }

    </fieldset> 
     
    
    }