@model Wardship.Models.Alert

@{
    ViewBag.Title = "Create";
}
@section head{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.9.2.custom.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")"></script>
}

<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Alerts","Index","Alerts")
> Create</h6>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Alert</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.WarnStart, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WarnStart)
            @Html.ValidationMessageFor(model => model.WarnStart)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.RaisedHours, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RaisedHours)
            @Html.ValidationMessageFor(model => model.RaisedHours)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.EventStart, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventStart)
            @Html.ValidationMessageFor(model => model.EventStart)
        </div>





        <div class="editor-label">
            @Html.LabelFor(model => model.Message, true)
        </div>
        <div class="editor-field" style="height:90px;width:250px;">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
