@model Wardship.Models.WardshipRecord

@{
    ViewBag.Title = "Delete Wardship Record";
}

<h2>Delete Wardship Record</h2>

<h3>Are you sure you want to delete this record?</h3>
<div>
    <h4>WardshipRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildForenames)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildForenames)
        </dd>
    </dl>
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>